CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

pe2022/dump.txt
pe2022/*.o
pe2022/*.lst
pe2022/list_test
pe2022/timediff
pe2022/eingabe.txt